{% macro collapse(id, title) -%}
<details id="{{ id }}" class="bg-white p-4 rounded-xl border border-gray-100 hover:border-blue-200 transition">
  <summary class="font-semibold cursor-pointer text-gray-900">{{ title | safe }}</summary>
  <div class="mt-4 text-sm text-gray-700">
    {{ caller() }}
  </div>
</details>
{%- endmacro %}
